In [1]:
import csv
import pandas as pd

In [2]:
csvFilePath = r"C:\Users\Yash\Desktop\Courses\CS411\Project Track 1\Src\Convert_CSV\Data"
csvName = r"2013new.csv"

In [3]:
csvData = pd.read_csv(csvFilePath+"\\"+csvName)
listOfcsvDataColumns = list(csvData.columns)
csvData

,Incident,Date reported,Time reported,Date occurred,Time occurred,General Location,Crime Description,Disposition,BlockId
0,II1300002,1/1/13,1:39:00 a. m.,1/1/13,1:39:00 a. m.,500 blk of JOHN STREET E,DRIVING UNDER THE INFL-,ARREST,0
1,II1300001,1/1/13,12:44:00 a. m.,1/1/13,12:44:00 a. m.,600 blk of GREEN E,POSSESSION OF CANNABIS,ARREST,14
2,II1300003,1/1/13,6:25:00 a. m.,1/1/13,6:25:00 a. m.,CIRCLE K,DRIVING UNDER THE INFL-,ARREST,0
3,II1300004,1/1/13,9:22:00 a. m.,1/1/13,2:00:00 a. m.,COMPUTER APPLICATION BLDG,CRIMINAL DAMAGE GOVT,ARREST,9
4,II1300006,1/3/13,11:00:00 a. m.,12/20/12,8:00:00 a. m.,KIRK / GERTY,THEFT FROM COIN-OP,ADMIN. CLOSE,0
...,...,...,...,...,...,...,...,...,...
1607,CC1307671,12/31/13,12:00:00 a. m.,8/20/13,8:25:00 p. m.,400 blk of JOHN E,AGGRAVATED ASSAULT,REPORTED TO OTHER,0
1608,CC1308521,12/31/13,12:00:00 a. m.,9/11/13,10:08:00 p. m.,STOUGHTON E / SIXTH,BURGLARY,REPORTED TO OTHER,0
1609,CC1312370,12/31/13,12:00:00 a. m.,12/28/13,3:12:00 p. m.,S FIRST ST / GREGORY,BURGLARY,REPORTED TO OTHER,0
1610,UU1305989,12/31/13,12:00:00 a. m.,10/13/13,7:29:00 p. m.,1000 blk of MAIN ST W,DOMESTIC DISPUTE,REPORTED TO OTHER,0
1611,UU1300603,12/31/13,12:00:00 a. m.,2/6/13,7:40:00 p. m.,1000 blk of CLARK ST W,DOMESTIC DISPUTE,REPORTED TO OTHER,0

In [4]:
# Drop NaN rows
csvData = csvData.dropna()
csvData = csvData.reset_index(drop=True)

# Drop row which has "nan" value
# csvData = csvData[~csvData["Crime Description"].isin(["nan"])]

csvData

,Incident,Date reported,Time reported,Date occurred,Time occurred,General Location,Crime Description,Disposition,BlockId
0,II1300002,1/1/13,1:39:00 a. m.,1/1/13,1:39:00 a. m.,500 blk of JOHN STREET E,DRIVING UNDER THE INFL-,ARREST,0
1,II1300001,1/1/13,12:44:00 a. m.,1/1/13,12:44:00 a. m.,600 blk of GREEN E,POSSESSION OF CANNABIS,ARREST,14
2,II1300003,1/1/13,6:25:00 a. m.,1/1/13,6:25:00 a. m.,CIRCLE K,DRIVING UNDER THE INFL-,ARREST,0
3,II1300004,1/1/13,9:22:00 a. m.,1/1/13,2:00:00 a. m.,COMPUTER APPLICATION BLDG,CRIMINAL DAMAGE GOVT,ARREST,9
4,II1300006,1/3/13,11:00:00 a. m.,12/20/12,8:00:00 a. m.,KIRK / GERTY,THEFT FROM COIN-OP,ADMIN. CLOSE,0
...,...,...,...,...,...,...,...,...,...
1606,CC1307671,12/31/13,12:00:00 a. m.,8/20/13,8:25:00 p. m.,400 blk of JOHN E,AGGRAVATED ASSAULT,REPORTED TO OTHER,0
1607,CC1308521,12/31/13,12:00:00 a. m.,9/11/13,10:08:00 p. m.,STOUGHTON E / SIXTH,BURGLARY,REPORTED TO OTHER,0
1608,CC1312370,12/31/13,12:00:00 a. m.,12/28/13,3:12:00 p. m.,S FIRST ST / GREGORY,BURGLARY,REPORTED TO OTHER,0
1609,UU1305989,12/31/13,12:00:00 a. m.,10/13/13,7:29:00 p. m.,1000 blk of MAIN ST W,DOMESTIC DISPUTE,REPORTED TO OTHER,0
1610,UU1300603,12/31/13,12:00:00 a. m.,2/6/13,7:40:00 p. m.,1000 blk of CLARK ST W,DOMESTIC DISPUTE,REPORTED TO OTHER,0

# Create CrimeType CSV

In [30]:
#Get unique types of crime
crimeTypeSet = set()
for x in csvData["Crime Description"]:
    crimeTypeSet.add(x.upper().strip())
crimeTypeList = list(crimeTypeSet)
crimeTypeList

['BIKE VIOLATIONS',
 'DRIVING UNDER INFLUENCE-',
 'ASSIST UIPD W/BATTERY',
 'CRIMINAL DAMAGE GOVT',
 'INDECENT EXPOSURE',
 'BATTERY-AGGRAVATED',
 'THEFT-LOST/MISLAID PROPERTY',
 'RECKLESS CONDUCT',
 'ASSIST/BUILDING CHECK',
 'UNLAWFUL USE ID',
 'POSS OF DRUG PARAPHENALIA',
 'THROW DANG MATERIALS',
 'UNLAW USE ID',
 'DRUGS',
 'RESISTING/OBSTR OFFICER',
 'ROBBERY-AGGRAVATED',
 'PANHANDLE',
 'POSSESSION STOLEN PROPERTY',
 'SUSPENDED LICENSE/WARRANT',
 'THEFT OF LOST/MISLAID PROP',
 'UNLAWFUL USE OF WEAPONS',
 'DECEPTIVE PRACTICE',
 'DOMESTIC DISPUTE',
 'TRESPASSIN',
 'THEFT OVER',
 'ENDANG CHILD',
 'DESTR/DAMAG/VAND',
 'ASSIST BATTERY',
 'CONTROLLED SUBSTANCE-MANUF-',
 'TRESPASS',
 'THEFT-RETAIL',
 'MIP',
 'WARRANT-IN STATE',
 'DOMESTIC BATTERY',
 'ASSIST/ARMED SUBJECT',
 'ASSIST/U OF I FOUND PROPERTY',
 'RIDING BIKE ON ROAD',
 'ASSIST K9',
 'ZERO TOLERANCE',
 'DECEPTIVE PRACTICES',
 'VIOL BAIL BOND',
 'ASSIST OTHER POLICE DEPT',
 'THEFT FROM MOTOR VEHICLE',
 'RESISTING',
 'UNAUTHORIZED ENTRY',
 'THEFT FROM COIN-OP',
 'ASSIST/DOMESTIC',
 'CYBERSTALKING',
 'ASSIST/K9',
 'COMPUTER TAMPERING',
 'TRAFFIC',
 'PUBLIC URINATION (C)',
 'ASSIST/K-9',
 'DISORDERLY',
 'HINDERING POLICE OFFCR',
 'THEFT BY LESSEE',
 'ASSIST K9 SEARCH',
 'CRIMINAL DAMAGE TO PROPERTY',
 'CANNABIS-POSSESSION OVER',
 'ASSIST ATT BURG F/MV',
 'THROW DANGEROUS MATERIALS',
 'SALES OF TOBACCO',
 'DRUG EQUIPMENT-POSSESSION',
 'BATTERY',
 'ENDANG LIFE/HEALTH OF CHILD',
 'ASSIST/SHOTS FIRED',
 'HARASSMENT BY TX',
 'LIQUOR',
 'CURFEW VIOLATION',
 'BURGLARY FROM MOTOR',
 'ASSIST UPD W/DETAIN SUBJECT',
 'LIQUOR-ILLEGAL CONSUMPTION',
 'FRAUD-CREDIT CARD',
 'THROW DANGEROUS MATERIAL',
 'DEPETIVE PRACTICE/COUNTERFIT',
 'OBSTRUCTING IDENTIFICATION',
 'RESIST/OBSTRUCT',
 'NOISE',
 'TERRORIST THREATS',
 'BEGGERS PROHIBITED',
 'HARASSMENT BY TELEPHONE',
 'AGG BATTERY',
 'DECPTIVE PRACTICE',
 'LIQUOR-ILLEGAL POSS. BY MINOR',
 'ASSIST/SEACH WARRANT',
 'ASSIST UPD W/K-9',
 'CANNABIS-POSS 30 GM & UNDER',
 'RESIST/OBSTRUCT/DISARM AN',
 'CONTROLLED SUBSTANCE-',
 'ROBBERY',
 'FORGERY',
 'ASSIST/THEFT',
 'ASSAULT',
 'IDENTITY THEFT',
 'THROWING ITEMS',
 'BICYCLE VIOLATION',
 'MOTOR VEHICLE THEFT',
 'DIS CONDUCT',
 'PUBLIC URINATION',
 'ELECTRICAL FIRE',
 'TRESPASS NOTICE',
 'FIGHT',
 'DISOBEY TRAFFIC (BIKE)',
 'HARRASMENT BY ELECTRONIC',
 'OBSTRUCTING JUSTICE',
 'POSS ALCOHOL PUB PROP /',
 'ASSIST/ROBBERY DETAIL',
 'DISORDERLY CONDUCT-ALL',
 'ASSIST/STABBING',
 'POSSESSION OF CANNABIS',
 'RESISTING/OBSTR. OFFICER',
 'ASSIST/K9 SEARCH',
 'ASSIST/TRAFFIC STOP',
 'FRAUD-DECEPTION',
 'TRESPASS-STATE SUPPORTED',
 'VANDALISM-INSTITUTIONAL',
 'FIREWORKS',
 'DRUG',
 'ARSON',
 'UNLAWFUL USE OF ID',
 'MURDER/NON-NEG. MANSSL.',
 'ASSIST DOMESTIC',
 'AGGRAVATED ASSAULT',
 'NOISE VIOLATION',
 'SEX OFFENSE, FORCIBLE',
 'ASSIST/HARRESSMENT',
 'LOUD NOISE',
 'ASSIST OTHER GOVT AGENCY/EOD',
 'THREATS',
 'ASSIST K-9',
 'MOB ACTION',
 'ASSIST CPD W/ROBBERY',
 'ASSIST/CRIMINAL DAMAGE',
 'CANNABIS-DELIVERY OVER 30GM',
 'DISORDERLY/PANDELING',
 'BATTERY-DOMESTIC & LARCENY',
 'K9 ASSIST',
 'THEFT OF MOTOR VEH PARTS &',
 'OTHER CRIMINAL OFFENSES',
 'DISOBEY LIGHT (BIKE)',
 'ASSIST/DISORDERLY SUBJ',
 'SEXUAL HARASSMENT',
 'THEFT UNDER',
 'THEFT',
 'DECPT PRACT',
 'DRIVING UNDER THE INFL-',
 'TELEPHONE THREAT',
 'ASSIST/DOMESTIC BATTERY',
 'ASSIST/CHECK WELFARE',
 'BURGLARY',
 'CANNABIS-DELIVERY 30GM &',
 'TREPASS',
 'METRO ACTIVATION',
 'LARCENY',
 'DOMESTIC',
 'ASSIST CPD ROBBERY',
 'TRAFFIC STOP',
 'CRIMINAL DEFACEMENT OF',
 'BURNING PROHIBITED',
 'SEX OFFENSE',
 'ASSIST/SEARCH SUBJ',
 'THROW DANG MATERIAL',
 'ASSIST/BURGLARY',
 'ASSIST/ACCIDENT',
 'DISOBEY STOP',
 'HARASS BY TX',
 'RESIST/OBSTRUCT OFFICER',
 'BATTERY-DOMESTIC',
 'OBSTRUCTIN JUSTICE',
 'CRIMINAL DAMAGE',
 'ASSIST CPD WITH BATTERY',
 'FORCIBLE SEX OFFENSE',
 'THEFT-LABOR OR SERVICES',
 'THEFT-MOTOR VEHICLE',
 'UPD ACCIDENT (FATAL)',
 'DUI',
 'ASSIST/NO TRESPASS',
 'INTIMIDATION',
 'ASSIST UPD ON ROBBERY',
 'NON-FORCIBLE SEX OFFENSE',
 'BATTERY-AGG DOMESTIC',
 'WEAPON',
 'THROWING DANGEROUS',
 'SIMPLE ASSAULT',
 'DISORDERLY CONDUCT']

In [31]:
#Convert the set of crime types into a list of dictionary
crimeTypeListOfDicts = []
crimeTypeStartIndex = 300
for type in crimeTypeList:
    crimeTypeDict = {}
    crimeTypeDict["crimeTypeID"] = crimeTypeStartIndex
    crimeTypeDict["type"] = type
    crimeTypeStartIndex += 1
    crimeTypeListOfDicts.append(crimeTypeDict)
crimeTypeListOfDicts

[{'crimeTypeID': 300, 'type': 'BIKE VIOLATIONS'},
 {'crimeTypeID': 301, 'type': 'DRIVING UNDER INFLUENCE-'},
 {'crimeTypeID': 302, 'type': 'ASSIST UIPD W/BATTERY'},
 {'crimeTypeID': 303, 'type': 'CRIMINAL DAMAGE GOVT'},
 {'crimeTypeID': 304, 'type': 'INDECENT EXPOSURE'},
 {'crimeTypeID': 305, 'type': 'BATTERY-AGGRAVATED'},
 {'crimeTypeID': 306, 'type': 'THEFT-LOST/MISLAID PROPERTY'},
 {'crimeTypeID': 307, 'type': 'RECKLESS CONDUCT'},
 {'crimeTypeID': 308, 'type': 'ASSIST/BUILDING CHECK'},
 {'crimeTypeID': 309, 'type': 'UNLAWFUL USE ID'},
 {'crimeTypeID': 310, 'type': 'POSS OF DRUG PARAPHENALIA'},
 {'crimeTypeID': 311, 'type': 'THROW DANG MATERIALS'},
 {'crimeTypeID': 312, 'type': 'UNLAW USE ID'},
 {'crimeTypeID': 313, 'type': 'DRUGS'},
 {'crimeTypeID': 314, 'type': 'RESISTING/OBSTR OFFICER'},
 {'crimeTypeID': 315, 'type': 'ROBBERY-AGGRAVATED'},
 {'crimeTypeID': 316, 'type': 'PANHANDLE'},
 {'crimeTypeID': 317, 'type': 'POSSESSION STOLEN PROPERTY'},
 {'crimeTypeID': 318, 'type': 'SUSPENDED LICENSE/WARRANT'},
 {'crimeTypeID': 319, 'type': 'THEFT OF LOST/MISLAID PROP'},
 {'crimeTypeID': 320, 'type': 'UNLAWFUL USE OF WEAPONS'},
 {'crimeTypeID': 321, 'type': 'DECEPTIVE PRACTICE'},
 {'crimeTypeID': 322, 'type': 'DOMESTIC DISPUTE'},
 {'crimeTypeID': 323, 'type': 'TRESPASSIN'},
 {'crimeTypeID': 324, 'type': 'THEFT OVER'},
 {'crimeTypeID': 325, 'type': 'ENDANG CHILD'},
 {'crimeTypeID': 326, 'type': 'DESTR/DAMAG/VAND'},
 {'crimeTypeID': 327, 'type': 'ASSIST BATTERY'},
 {'crimeTypeID': 328, 'type': 'CONTROLLED SUBSTANCE-MANUF-'},
 {'crimeTypeID': 329, 'type': 'TRESPASS'},
 {'crimeTypeID': 330, 'type': 'THEFT-RETAIL'},
 {'crimeTypeID': 331, 'type': 'MIP'},
 {'crimeTypeID': 332, 'type': 'WARRANT-IN STATE'},
 {'crimeTypeID': 333, 'type': 'DOMESTIC BATTERY'},
 {'crimeTypeID': 334, 'type': 'ASSIST/ARMED SUBJECT'},
 {'crimeTypeID': 335, 'type': 'ASSIST/U OF I FOUND PROPERTY'},
 {'crimeTypeID': 336, 'type': 'RIDING BIKE ON ROAD'},
 {'crimeTypeID': 337, 'type': 'ASSIST K9'},
 {'crimeTypeID': 338, 'type': 'ZERO TOLERANCE'},
 {'crimeTypeID': 339, 'type': 'DECEPTIVE PRACTICES'},
 {'crimeTypeID': 340, 'type': 'VIOL BAIL BOND'},
 {'crimeTypeID': 341, 'type': 'ASSIST OTHER POLICE DEPT'},
 {'crimeTypeID': 342, 'type': 'THEFT FROM MOTOR VEHICLE'},
 {'crimeTypeID': 343, 'type': 'RESISTING'},
 {'crimeTypeID': 344, 'type': 'UNAUTHORIZED ENTRY'},
 {'crimeTypeID': 345, 'type': 'THEFT FROM COIN-OP'},
 {'crimeTypeID': 346, 'type': 'ASSIST/DOMESTIC'},
 {'crimeTypeID': 347, 'type': 'CYBERSTALKING'},
 {'crimeTypeID': 348, 'type': 'ASSIST/K9'},
 {'crimeTypeID': 349, 'type': 'COMPUTER TAMPERING'},
 {'crimeTypeID': 350, 'type': 'TRAFFIC'},
 {'crimeTypeID': 351, 'type': 'PUBLIC URINATION (C)'},
 {'crimeTypeID': 352, 'type': 'ASSIST/K-9'},
 {'crimeTypeID': 353, 'type': 'DISORDERLY'},
 {'crimeTypeID': 354, 'type': 'HINDERING POLICE OFFCR'},
 {'crimeTypeID': 355, 'type': 'THEFT BY LESSEE'},
 {'crimeTypeID': 356, 'type': 'ASSIST K9 SEARCH'},
 {'crimeTypeID': 357, 'type': 'CRIMINAL DAMAGE TO PROPERTY'},
 {'crimeTypeID': 358, 'type': 'CANNABIS-POSSESSION OVER'},
 {'crimeTypeID': 359, 'type': 'ASSIST ATT BURG F/MV'},
 {'crimeTypeID': 360, 'type': 'THROW DANGEROUS MATERIALS'},
 {'crimeTypeID': 361, 'type': 'SALES OF TOBACCO'},
 {'crimeTypeID': 362, 'type': 'DRUG EQUIPMENT-POSSESSION'},
 {'crimeTypeID': 363, 'type': 'BATTERY'},
 {'crimeTypeID': 364, 'type': 'ENDANG LIFE/HEALTH OF CHILD'},
 {'crimeTypeID': 365, 'type': 'ASSIST/SHOTS FIRED'},
 {'crimeTypeID': 366, 'type': 'HARASSMENT BY TX'},
 {'crimeTypeID': 367, 'type': 'LIQUOR'},
 {'crimeTypeID': 368, 'type': 'CURFEW VIOLATION'},
 {'crimeTypeID': 369, 'type': 'BURGLARY FROM MOTOR'},
 {'crimeTypeID': 370, 'type': 'ASSIST UPD W/DETAIN SUBJECT'},
 {'crimeTypeID': 371, 'type': 'LIQUOR-ILLEGAL CONSUMPTION'},
 {'crimeTypeID': 372, 'type': 'FRAUD-CREDIT CARD'},
 {'crimeTypeID': 373, 'type': 'THROW DANGEROUS MATERIAL'},
 {'crimeTypeID': 374, 'type': 'DEPETIVE PRACTICE/COUNTERFIT'},
 {'crimeTypeID': 375, 'type': 'OBSTRUCTING IDENTIFICATION'},
 {'crimeTypeID': 376, 'type': 'RESIST/OBSTRUCT'},
 {'crimeTypeID': 377, 'type': 'NOISE'},
 {'crimeTypeID': 378, 'type': 'TERRORIST THREATS'},
 {'crimeTypeID': 379, 'type': 'BEGGERS PROHIBITED'},
 {'crimeTypeID': 380, 'type': 'HARASSMENT BY TELEPHONE'},
 {'crimeTypeID': 381, 'type': 'AGG BATTERY'},
 {'crimeTypeID': 382, 'type': 'DECPTIVE PRACTICE'},
 {'crimeTypeID': 383, 'type': 'LIQUOR-ILLEGAL POSS. BY MINOR'},
 {'crimeTypeID': 384, 'type': 'ASSIST/SEACH WARRANT'},
 {'crimeTypeID': 385, 'type': 'ASSIST UPD W/K-9'},
 {'crimeTypeID': 386, 'type': 'CANNABIS-POSS 30 GM & UNDER'},
 {'crimeTypeID': 387, 'type': 'RESIST/OBSTRUCT/DISARM AN'},
 {'crimeTypeID': 388, 'type': 'CONTROLLED SUBSTANCE-'},
 {'crimeTypeID': 389, 'type': 'ROBBERY'},
 {'crimeTypeID': 390, 'type': 'FORGERY'},
 {'crimeTypeID': 391, 'type': 'ASSIST/THEFT'},
 {'crimeTypeID': 392, 'type': 'ASSAULT'},
 {'crimeTypeID': 393, 'type': 'IDENTITY THEFT'},
 {'crimeTypeID': 394, 'type': 'THROWING ITEMS'},
 {'crimeTypeID': 395, 'type': 'BICYCLE VIOLATION'},
 {'crimeTypeID': 396, 'type': 'MOTOR VEHICLE THEFT'},
 {'crimeTypeID': 397, 'type': 'DIS CONDUCT'},
 {'crimeTypeID': 398, 'type': 'PUBLIC URINATION'},
 {'crimeTypeID': 399, 'type': 'ELECTRICAL FIRE'},
 {'crimeTypeID': 400, 'type': 'TRESPASS NOTICE'},
 {'crimeTypeID': 401, 'type': 'FIGHT'},
 {'crimeTypeID': 402, 'type': 'DISOBEY TRAFFIC (BIKE)'},
 {'crimeTypeID': 403, 'type': 'HARRASMENT BY ELECTRONIC'},
 {'crimeTypeID': 404, 'type': 'OBSTRUCTING JUSTICE'},
 {'crimeTypeID': 405, 'type': 'POSS ALCOHOL PUB PROP /'},
 {'crimeTypeID': 406, 'type': 'ASSIST/ROBBERY DETAIL'},
 {'crimeTypeID': 407, 'type': 'DISORDERLY CONDUCT-ALL'},
 {'crimeTypeID': 408, 'type': 'ASSIST/STABBING'},
 {'crimeTypeID': 409, 'type': 'POSSESSION OF CANNABIS'},
 {'crimeTypeID': 410, 'type': 'RESISTING/OBSTR. OFFICER'},
 {'crimeTypeID': 411, 'type': 'ASSIST/K9 SEARCH'},
 {'crimeTypeID': 412, 'type': 'ASSIST/TRAFFIC STOP'},
 {'crimeTypeID': 413, 'type': 'FRAUD-DECEPTION'},
 {'crimeTypeID': 414, 'type': 'TRESPASS-STATE SUPPORTED'},
 {'crimeTypeID': 415, 'type': 'VANDALISM-INSTITUTIONAL'},
 {'crimeTypeID': 416, 'type': 'FIREWORKS'},
 {'crimeTypeID': 417, 'type': 'DRUG'},
 {'crimeTypeID': 418, 'type': 'ARSON'},
 {'crimeTypeID': 419, 'type': 'UNLAWFUL USE OF ID'},
 {'crimeTypeID': 420, 'type': 'MURDER/NON-NEG. MANSSL.'},
 {'crimeTypeID': 421, 'type': 'ASSIST DOMESTIC'},
 {'crimeTypeID': 422, 'type': 'AGGRAVATED ASSAULT'},
 {'crimeTypeID': 423, 'type': 'NOISE VIOLATION'},
 {'crimeTypeID': 424, 'type': 'SEX OFFENSE, FORCIBLE'},
 {'crimeTypeID': 425, 'type': 'ASSIST/HARRESSMENT'},
 {'crimeTypeID': 426, 'type': 'LOUD NOISE'},
 {'crimeTypeID': 427, 'type': 'ASSIST OTHER GOVT AGENCY/EOD'},
 {'crimeTypeID': 428, 'type': 'THREATS'},
 {'crimeTypeID': 429, 'type': 'ASSIST K-9'},
 {'crimeTypeID': 430, 'type': 'MOB ACTION'},
 {'crimeTypeID': 431, 'type': 'ASSIST CPD W/ROBBERY'},
 {'crimeTypeID': 432, 'type': 'ASSIST/CRIMINAL DAMAGE'},
 {'crimeTypeID': 433, 'type': 'CANNABIS-DELIVERY OVER 30GM'},
 {'crimeTypeID': 434, 'type': 'DISORDERLY/PANDELING'},
 {'crimeTypeID': 435, 'type': 'BATTERY-DOMESTIC & LARCENY'},
 {'crimeTypeID': 436, 'type': 'K9 ASSIST'},
 {'crimeTypeID': 437, 'type': 'THEFT OF MOTOR VEH PARTS &'},
 {'crimeTypeID': 438, 'type': 'OTHER CRIMINAL OFFENSES'},
 {'crimeTypeID': 439, 'type': 'DISOBEY LIGHT (BIKE)'},
 {'crimeTypeID': 440, 'type': 'ASSIST/DISORDERLY SUBJ'},
 {'crimeTypeID': 441, 'type': 'SEXUAL HARASSMENT'},
 {'crimeTypeID': 442, 'type': 'THEFT UNDER'},
 {'crimeTypeID': 443, 'type': 'THEFT'},
 {'crimeTypeID': 444, 'type': 'DECPT PRACT'},
 {'crimeTypeID': 445, 'type': 'DRIVING UNDER THE INFL-'},
 {'crimeTypeID': 446, 'type': 'TELEPHONE THREAT'},
 {'crimeTypeID': 447, 'type': 'ASSIST/DOMESTIC BATTERY'},
 {'crimeTypeID': 448, 'type': 'ASSIST/CHECK WELFARE'},
 {'crimeTypeID': 449, 'type': 'BURGLARY'},
 {'crimeTypeID': 450, 'type': 'CANNABIS-DELIVERY 30GM &'},
 {'crimeTypeID': 451, 'type': 'TREPASS'},
 {'crimeTypeID': 452, 'type': 'METRO ACTIVATION'},
 {'crimeTypeID': 453, 'type': 'LARCENY'},
 {'crimeTypeID': 454, 'type': 'DOMESTIC'},
 {'crimeTypeID': 455, 'type': 'ASSIST CPD ROBBERY'},
 {'crimeTypeID': 456, 'type': 'TRAFFIC STOP'},
 {'crimeTypeID': 457, 'type': 'CRIMINAL DEFACEMENT OF'},
 {'crimeTypeID': 458, 'type': 'BURNING PROHIBITED'},
 {'crimeTypeID': 459, 'type': 'SEX OFFENSE'},
 {'crimeTypeID': 460, 'type': 'ASSIST/SEARCH SUBJ'},
 {'crimeTypeID': 461, 'type': 'THROW DANG MATERIAL'},
 {'crimeTypeID': 462, 'type': 'ASSIST/BURGLARY'},
 {'crimeTypeID': 463, 'type': 'ASSIST/ACCIDENT'},
 {'crimeTypeID': 464, 'type': 'DISOBEY STOP'},
 {'crimeTypeID': 465, 'type': 'HARASS BY TX'},
 {'crimeTypeID': 466, 'type': 'RESIST/OBSTRUCT OFFICER'},
 {'crimeTypeID': 467, 'type': 'BATTERY-DOMESTIC'},
 {'crimeTypeID': 468, 'type': 'OBSTRUCTIN JUSTICE'},
 {'crimeTypeID': 469, 'type': 'CRIMINAL DAMAGE'},
 {'crimeTypeID': 470, 'type': 'ASSIST CPD WITH BATTERY'},
 {'crimeTypeID': 471, 'type': 'FORCIBLE SEX OFFENSE'},
 {'crimeTypeID': 472, 'type': 'THEFT-LABOR OR SERVICES'},
 {'crimeTypeID': 473, 'type': 'THEFT-MOTOR VEHICLE'},
 {'crimeTypeID': 474, 'type': 'UPD ACCIDENT (FATAL)'},
 {'crimeTypeID': 475, 'type': 'DUI'},
 {'crimeTypeID': 476, 'type': 'ASSIST/NO TRESPASS'},
 {'crimeTypeID': 477, 'type': 'INTIMIDATION'},
 {'crimeTypeID': 478, 'type': 'ASSIST UPD ON ROBBERY'},
 {'crimeTypeID': 479, 'type': 'NON-FORCIBLE SEX OFFENSE'},
 {'crimeTypeID': 480, 'type': 'BATTERY-AGG DOMESTIC'},
 {'crimeTypeID': 481, 'type': 'WEAPON'},
 {'crimeTypeID': 482, 'type': 'THROWING DANGEROUS'},
 {'crimeTypeID': 483, 'type': 'SIMPLE ASSAULT'},
 {'crimeTypeID': 484, 'type': 'DISORDERLY CONDUCT'}]

In [7]:
#Flush the list of dictionary to CSV file
crimeTypeColumns = ['crimeTypeID','type']

crimeTypeCSVName = "CrimeType.csv"

try:
    with open(csvFilePath+"\\"+crimeTypeCSVName, 'w', newline="") as csvfile:
        writer = csv.DictWriter(csvfile, fieldnames=crimeTypeColumns)
        writer.writeheader()
        for data in crimeTypeListOfDicts:
            writer.writerow(data)
except IOError:
    print("I/O error")

# Create Crime CSV

### Add incident column

In [8]:
crimeDF = csvData[["Incident"]]
crimeDF

       Incident
0     II1300002
1     II1300001
2     II1300003
3     II1300004
4     II1300006
...         ...
1606  CC1307671
1607  CC1308521
1608  CC1312370
1609  UU1305989
1610  UU1300603

[1611 rows x 1 columns]

### Add reportedAt column

In [9]:
def convertCSVDateToSQLDateFormat(str):
    list = str.split("/")
    res = "20" + list[2] + "-" + list[1] + "-" + list[0]
    return res
convertCSVDateToSQLDateFormat("1/1/13")

'2013-1-1'

In [10]:
# Add reportedAt column
reportedAt = []
for date in csvData["Date reported"]:
    reportedAt.append(convertCSVDateToSQLDateFormat(date))

index = 0
for time in csvData["Time reported"]:
    reportedAt[index] += " " + time.split(" ")[0]
    index += 1
    
reportedAtDF = pd.DataFrame(reportedAt, columns = ['reportedAt'])
reportedAtDF

               reportedAt
0        2013-1-1 1:39:00
1       2013-1-1 12:44:00
2        2013-1-1 6:25:00
3        2013-1-1 9:22:00
4       2013-3-1 11:00:00
...                   ...
1606  2013-31-12 12:00:00
1607  2013-31-12 12:00:00
1608  2013-31-12 12:00:00
1609  2013-31-12 12:00:00
1610  2013-31-12 12:00:00

[1611 rows x 1 columns]

In [11]:
#Combine it with crimeDF
crimeDF = pd.concat([crimeDF,reportedAtDF], axis=1)
crimeDF

       Incident           reportedAt
0     II1300002     2013-1-1 1:39:00
1     II1300001    2013-1-1 12:44:00
2     II1300003     2013-1-1 6:25:00
3     II1300004     2013-1-1 9:22:00
4     II1300006    2013-3-1 11:00:00
...         ...                  ...
1606  CC1307671  2013-31-12 12:00:00
1607  CC1308521  2013-31-12 12:00:00
1608  CC1312370  2013-31-12 12:00:00
1609  UU1305989  2013-31-12 12:00:00
1610  UU1300603  2013-31-12 12:00:00

[1611 rows x 2 columns]

### Add occuredAt column

In [12]:
# Add occuredAt column
occurredAt = []
for date in csvData["Date occurred"]:
    occurredAt.append(convertCSVDateToSQLDateFormat(date))

index = 0
for time in csvData["Time occurred"]:
    occurredAt[index] += " " + time.split(" ")[0]
    index += 1
    
occurredAtDF = pd.DataFrame(occurredAt, columns = ['occurredAt'])
occurredAtDF

              occurredAt
0       2013-1-1 1:39:00
1      2013-1-1 12:44:00
2       2013-1-1 6:25:00
3       2013-1-1 2:00:00
4     2012-20-12 8:00:00
...                  ...
1606   2013-20-8 8:25:00
1607  2013-11-9 10:08:00
1608  2013-28-12 3:12:00
1609  2013-13-10 7:29:00
1610    2013-6-2 7:40:00

[1611 rows x 1 columns]

In [13]:
#Combine it with crimeDF
crimeDF = pd.concat([crimeDF,occurredAtDF], axis=1)
crimeDF

       Incident           reportedAt          occurredAt
0     II1300002     2013-1-1 1:39:00    2013-1-1 1:39:00
1     II1300001    2013-1-1 12:44:00   2013-1-1 12:44:00
2     II1300003     2013-1-1 6:25:00    2013-1-1 6:25:00
3     II1300004     2013-1-1 9:22:00    2013-1-1 2:00:00
4     II1300006    2013-3-1 11:00:00  2012-20-12 8:00:00
...         ...                  ...                 ...
1606  CC1307671  2013-31-12 12:00:00   2013-20-8 8:25:00
1607  CC1308521  2013-31-12 12:00:00  2013-11-9 10:08:00
1608  CC1312370  2013-31-12 12:00:00  2013-28-12 3:12:00
1609  UU1305989  2013-31-12 12:00:00  2013-13-10 7:29:00
1610  UU1300603  2013-31-12 12:00:00    2013-6-2 7:40:00

[1611 rows x 3 columns]

### Add Disposition column

In [14]:
#Combine it with crimeDF
crimeDF = pd.concat([crimeDF,csvData["Disposition"]], axis=1)
crimeDF

       Incident           reportedAt          occurredAt        Disposition
0     II1300002     2013-1-1 1:39:00    2013-1-1 1:39:00             ARREST
1     II1300001    2013-1-1 12:44:00   2013-1-1 12:44:00             ARREST
2     II1300003     2013-1-1 6:25:00    2013-1-1 6:25:00             ARREST
3     II1300004     2013-1-1 9:22:00    2013-1-1 2:00:00             ARREST
4     II1300006    2013-3-1 11:00:00  2012-20-12 8:00:00       ADMIN. CLOSE
...         ...                  ...                 ...                ...
1606  CC1307671  2013-31-12 12:00:00   2013-20-8 8:25:00  REPORTED TO OTHER
1607  CC1308521  2013-31-12 12:00:00  2013-11-9 10:08:00  REPORTED TO OTHER
1608  CC1312370  2013-31-12 12:00:00  2013-28-12 3:12:00  REPORTED TO OTHER
1609  UU1305989  2013-31-12 12:00:00  2013-13-10 7:29:00  REPORTED TO OTHER
1610  UU1300603  2013-31-12 12:00:00    2013-6-2 7:40:00  REPORTED TO OTHER

[1611 rows x 4 columns]

### Add crimeTypeID column

In [34]:
crimeTypeID = []
for row in csvData["Crime Description"]:
    crimeTypeStartIndex = 300
    for type in crimeTypeList:
        if(type==row.upper().strip()):
            crimeTypeID.append(crimeTypeStartIndex)
            break;
        crimeTypeStartIndex += 1

crimeTypeIDDF = pd.DataFrame(crimeTypeID, columns = ['crimeTypeID'])
crimeTypeIDDF

      crimeTypeID
0             445
1             409
2             445
3             303
4             345
...           ...
1606          422
1607          449
1608          449
1609          322
1610          322

[1611 rows x 1 columns]

In [35]:
#Combine it with crimeDF
crimeDF = pd.concat([crimeDF,crimeTypeIDDF], axis=1)
crimeDF

,Incident,reportedAt,occurredAt,Disposition,crimeTypeID
0,II1300002,2013-1-1 1:39:00,2013-1-1 1:39:00,ARREST,445
1,II1300001,2013-1-1 12:44:00,2013-1-1 12:44:00,ARREST,409
2,II1300003,2013-1-1 6:25:00,2013-1-1 6:25:00,ARREST,445
3,II1300004,2013-1-1 9:22:00,2013-1-1 2:00:00,ARREST,303
4,II1300006,2013-3-1 11:00:00,2012-20-12 8:00:00,ADMIN. CLOSE,345
...,...,...,...,...,...
1606,CC1307671,2013-31-12 12:00:00,2013-20-8 8:25:00,REPORTED TO OTHER,422
1607,CC1308521,2013-31-12 12:00:00,2013-11-9 10:08:00,REPORTED TO OTHER,449
1608,CC1312370,2013-31-12 12:00:00,2013-28-12 3:12:00,REPORTED TO OTHER,449
1609,UU1305989,2013-31-12 12:00:00,2013-13-10 7:29:00,REPORTED TO OTHER,322
1610,UU1300603,2013-31-12 12:00:00,2013-6-2 7:40:00,REPORTED TO OTHER,322

In [39]:
#Rename columns
crimeDF.columns = ["incidentID", "reportedAt", "occuredAt", "disposition", "crimeTypeID"]
crimeDF

,incidentID,reportedAt,occuredAt,disposition,crimeTypeID
0,II1300002,2013-1-1 1:39:00,2013-1-1 1:39:00,ARREST,445
1,II1300001,2013-1-1 12:44:00,2013-1-1 12:44:00,ARREST,409
2,II1300003,2013-1-1 6:25:00,2013-1-1 6:25:00,ARREST,445
3,II1300004,2013-1-1 9:22:00,2013-1-1 2:00:00,ARREST,303
4,II1300006,2013-3-1 11:00:00,2012-20-12 8:00:00,ADMIN. CLOSE,345
...,...,...,...,...,...
1606,CC1307671,2013-31-12 12:00:00,2013-20-8 8:25:00,REPORTED TO OTHER,422
1607,CC1308521,2013-31-12 12:00:00,2013-11-9 10:08:00,REPORTED TO OTHER,449
1608,CC1312370,2013-31-12 12:00:00,2013-28-12 3:12:00,REPORTED TO OTHER,449
1609,UU1305989,2013-31-12 12:00:00,2013-13-10 7:29:00,REPORTED TO OTHER,322
1610,UU1300603,2013-31-12 12:00:00,2013-6-2 7:40:00,REPORTED TO OTHER,322

In [40]:
#Flush the dataframe to CSV file

crimeCSVName = "Crime.csv"
    
crimeDF.to_csv(csvFilePath+"\\"+crimeCSVName, encoding='utf-8', index=False)

# Create happensAt CSV

In [37]:
csvData

,Incident,Date reported,Time reported,Date occurred,Time occurred,General Location,Crime Description,Disposition,BlockId
0,II1300002,1/1/13,1:39:00 a. m.,1/1/13,1:39:00 a. m.,500 blk of JOHN STREET E,DRIVING UNDER THE INFL-,ARREST,0
1,II1300001,1/1/13,12:44:00 a. m.,1/1/13,12:44:00 a. m.,600 blk of GREEN E,POSSESSION OF CANNABIS,ARREST,14
2,II1300003,1/1/13,6:25:00 a. m.,1/1/13,6:25:00 a. m.,CIRCLE K,DRIVING UNDER THE INFL-,ARREST,0
3,II1300004,1/1/13,9:22:00 a. m.,1/1/13,2:00:00 a. m.,COMPUTER APPLICATION BLDG,CRIMINAL DAMAGE GOVT,ARREST,9
4,II1300006,1/3/13,11:00:00 a. m.,12/20/12,8:00:00 a. m.,KIRK / GERTY,THEFT FROM COIN-OP,ADMIN. CLOSE,0
...,...,...,...,...,...,...,...,...,...
1606,CC1307671,12/31/13,12:00:00 a. m.,8/20/13,8:25:00 p. m.,400 blk of JOHN E,AGGRAVATED ASSAULT,REPORTED TO OTHER,0
1607,CC1308521,12/31/13,12:00:00 a. m.,9/11/13,10:08:00 p. m.,STOUGHTON E / SIXTH,BURGLARY,REPORTED TO OTHER,0
1608,CC1312370,12/31/13,12:00:00 a. m.,12/28/13,3:12:00 p. m.,S FIRST ST / GREGORY,BURGLARY,REPORTED TO OTHER,0
1609,UU1305989,12/31/13,12:00:00 a. m.,10/13/13,7:29:00 p. m.,1000 blk of MAIN ST W,DOMESTIC DISPUTE,REPORTED TO OTHER,0
1610,UU1300603,12/31/13,12:00:00 a. m.,2/6/13,7:40:00 p. m.,1000 blk of CLARK ST W,DOMESTIC DISPUTE,REPORTED TO OTHER,0

In [41]:
happensAtDF = csvData[["Incident", "BlockId", "General Location"]]

In [42]:
#Rename columns
happensAtDF.columns = ["incidentID", "blockID", "genLocation"]
happensAtDF

     incidentID  blockID                genLocation
0     II1300002        0   500 blk of JOHN STREET E
1     II1300001       14         600 blk of GREEN E
2     II1300003        0                   CIRCLE K
3     II1300004        9  COMPUTER APPLICATION BLDG
4     II1300006        0               KIRK / GERTY
...         ...      ...                        ...
1606  CC1307671        0          400 blk of JOHN E
1607  CC1308521        0        STOUGHTON E / SIXTH
1608  CC1312370        0       S FIRST ST / GREGORY
1609  UU1305989        0      1000 blk of MAIN ST W
1610  UU1300603        0     1000 blk of CLARK ST W

[1611 rows x 3 columns]

In [43]:
#Flush the dataframe to CSV file

happensAtCSVName = "happensAt.csv"
    
happensAtDF.to_csv(csvFilePath+"\\"+happensAtCSVName, encoding='utf-8', index=False)