Assumptions:
    1. The column names won't have any whitespace or period in it. If the CSV file columns have it, then it will be replaced with underscore.

In [42]:
import MySQLdb as mdb
import csv
import pandas as pd

In [43]:
DBNAME = "dbtest"
DBHOST = "localhost"
DBPASS = ""
DBUSER = "root"

In [44]:
csvFilePath = r"C:\Users\Yash\Desktop\Courses\CS411\Project Track 1\Src\Convert_CSV\Data"

In [45]:
def connectToDatabase():
    try:
        db = mdb.connect(DBHOST, DBUSER, DBPASS, DBNAME, charset='utf8', port=3308)
        print("Database Connected Successfully")
        return db
    except mdb.Error as e:
        print(e)
        print("Database Not Connected Successfully")
        return None
    
def closeDatabase(db):
    try:
        db.close()
        print("Database Closed Successfully")
    except mdb.Error as e:
        print(e)
        print("Database Not Closed Successfully")

In [46]:
def executeSingleQuery(sqlquery):
    
    db = connectToDatabase()
    
    try:
        cur = db.cursor()

        # execute query
        cur.execute(sqlquery)
        print("Query Successfully Executed")
        
        db.commit()

    except mdb.Error as e:
        print(e)
        print("Query Not Successfully Executed" + sqlquery)
        
    closeDatabase(db)

In [65]:
def getListOfInsertQueries(csvName, tableName):
    
    # Load CSV and get column names
    csvData = pd.read_csv(csvFilePath+"\\"+csvName)
    listOfcsvDataColumns = list(csvData.columns)
    
    # INSERT INTO Employee (Name, Email, Age) VALUES ('John', 'john@gmail.com', '25')
    
    columnNamesInQueryFormat = "("
    for i in listOfcsvDataColumns:
        columnNamesInQueryFormat = columnNamesInQueryFormat + i.replace(" ", "_").replace(".", "_") +"," #Replaces whitespace and period with underscore for column names
    columnNamesInQueryFormat = columnNamesInQueryFormat[:-1] + ")";

    partialInsertQuery = "INSERT INTO " + tableName + " " + columnNamesInQueryFormat + " VALUES"
    print(partialInsertQuery)
    
    listOfInsertQueries = []
    
    for i in range(0,csvData.shape[0]):
        betterHalfOfInsertQuery = "("
        for j in range(0,csvData.shape[1]):
#             print(betterHalfOfInsertQuery)
            data = str(csvData.at[i, listOfcsvDataColumns[j]])
            betterHalfOfInsertQuery = betterHalfOfInsertQuery + "'" + data + "',"
        betterHalfOfInsertQuery = betterHalfOfInsertQuery[:-1] + ")"
        listOfInsertQueries.append(partialInsertQuery + betterHalfOfInsertQuery)
    
    return listOfInsertQueries

## Insert into BlockLocation Table

In [69]:
csvName = r"location.csv"
tableName = "BlockLocation"
listOfInsertQueries = getListOfInsertQueries(csvName, tableName)
listOfInsertQueries

INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES

["INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('1','40.116411','-88.228957','40.116411','-88.225699','40.112745000000004','-88.228957','40.112745000000004','-88.225699')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('2','40.116411','-88.225699','40.116411','-88.22405400000001','40.11544','-88.225699','40.11544','-88.22405400000001')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('3','40.116411','-88.22405400000001','40.116411','-88.22238','40.11544','-88.22405400000001','40.11544','-88.22238')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('4','40.11544','-88.225699','40.11544','-88.22405400000001','40.113538','-88.225699','40.113538','-88.22405400000001')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('5','40.11544','-88.22405400000001','40.11544','-88.22238','44.1145','-88.22405400000001','40.1145','-88.22238')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('6','44.1145','-88.22405400000001','40.1145','-88.22238','40.113538','-88.22405400000001','40.113538','-88.22238')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('7','40.113538','-88.225699','40.113538','-88.22405400000001','40.112745000000004','-88.225699','40.112745000000004','-88.22405400000001')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('8','40.113538','-88.22405400000001','40.113538','-88.22238','40.112745000000004','-88.22405400000001','40.112745000000004','-88.22238')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('9','40.112745000000004','-88.23044300000001','40.112745000000004','-88.228957','40.111514','-88.23044300000001','40.111514','-88.228957')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('10','40.111514','-88.23044300000001','40.111514','-88.228957','40.110321','-88.23044300000001','40.110321','-88.228957')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('11','40.112745000000004','-88.228957','40.112745000000004','-88.225699','40.110321','-88.228957','40.110321','-88.225699')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('12','40.112745000000004','-88.225699','40.112745000000004','-88.22405400000001','40.110321','-88.225699','40.110321','-88.22405400000001')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('13','40.112745000000004','-88.22405400000001','40.112745000000004','-88.220667','40.110321','-88.22405400000001','40.110321','-88.220667')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('14','40.110321','-88.23044300000001','40.110321','-88.228957','40.109062','-88.23044300000001','40.109062','-88.228957')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('15','40.110321','-88.225699','40.110321','-88.22405400000001','40.106983','-88.225699','40.106983','-88.22405400000001')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('16','40.110321','-88.22405400000001','40.110321','-88.219316','40.109044','-88.22405400000001','40.109044','-88.219316')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('17','40.109062','-88.23201','40.109062','-88.23044300000001','40.107964','-88.23201','40.107964','-88.23044300000001')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('18','40.109062','-88.23044300000001','40.109062','-88.228957','40.107964','-88.23044300000001','40.107964','-88.228957')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('19','40.109044','-88.22405400000001','40.109044','-88.221577','40.106983','-88.22405400000001','40.106983','-88.221577')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('20','40.109044','-88.221577','40.109044','-88.219316','40.106983','-88.221577','40.109044','-88.219316')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('21','40.107964','-88.233536','40.107964','-88.23201','40.106823','-88.233536','40.106823','-88.23201')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('22','40.107964','-88.23201','40.107964','-88.23044300000001','40.106823','-88.23201','40.106823','-88.23044300000001')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('23','40.107964','-88.23044300000001','40.107964','-88.228957','40.106823','-88.23044300000001','40.106823','-88.228957')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('24','40.106983','-88.225699','40.106983','-88.22405400000001','40.105954','-88.225699','40.105954','-88.22405400000001')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('25','40.106983','-88.22405400000001','40.106983','-88.221577','40.105954','-88.22405400000001','40.105954','-88.221577')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('26','40.106983','-88.221577','40.106983','-88.219316','40.105954','-88.221577','40.105954','-88.219316')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('27','40.106823','-88.233536','40.106823','-88.23201','40.105416','-88.233536','40.105416','-88.23201')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('28','40.106823','-88.23201','40.106823','-88.23044300000001','40.105416','-88.23201','40.105416','-88.23044300000001')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('29','40.106823','-88.23044300000001','40.106823','-88.228957','40.105416','-88.23044300000001','40.105416','-88.228957')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('30','40.105416','-88.241528','40.105416','-88.238628','40.104135','-88.241528','40.104135','-88.238628')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('31','40.105416','-88.233536','40.105416','-88.23044300000001','40.104135','-88.233536','40.104135','-88.23044300000001')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('32','40.105954','-88.221577','40.105954','-88.219316','40.100547','-88.22188299999999','40.100547','-88.219316')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('33','40.104135','-88.241528','40.104135','-88.238628','40.102707','-88.241528','40.102707','-88.238628')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('34','40.104135','-88.238628','40.104135','-88.233536','40.101499','-88.238628','40.101499','-88.233536')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('35','40.104135','-88.233536','40.104135','-88.23044300000001','40.101499','-88.233536','40.101499','-88.23044300000001')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('36','40.104135','-88.23044300000001','40.104135','-88.22188299999999','40.100547','-88.23044300000001','40.100547','-88.22188299999999')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('37','40.102707','-88.241528','40.102707','-88.238628','40.098062','-88.241528','40.098062','-88.238628')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('38','40.101499','-88.233536','40.101499','-88.23044300000001','40.100547','-88.233536','40.100547','-88.23044300000001')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('39','40.101499','-88.238628','40.101499','-88.233536','40.098062','-88.238628','40.098062','-88.233536')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('40','40.100547','-88.233536','40.100547','-88.222852','40.098062','-88.233536','40.098062','-88.222852')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('41','40.100547','-88.222852','40.100547','-88.219316','40.098062','-88.222852','40.098062','-88.219316')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('42','40.098062','-88.241528','40.098062','-88.238628','40.094497','-88.241528','40.094497','-88.238628')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('43','40.098062','-88.238628','40.098062','-88.233536','40.094497','-88.238628','40.094497','-88.233536')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('44','40.098062','-88.233536','40.098062','-88.22374599999999','40.094497','-88.233536','40.094497','-88.22374599999999')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('45','40.098062','-88.22374599999999','40.098062','-88.219316','40.094497','-88.22374599999999','40.094497','-88.219316')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('46','40.098062','-88.219316','40.098062','-88.209672','40.094497','-88.219316','40.094497','-88.209672')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('47','40.110321','-88.228957','40.110321','-88.225699','40.104135','-88.228957','40.104135','-88.225699')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('48','40.105416','-88.23044300000001','40.105416','-88.228957','40.104135','-88.23044300000001','40.104135','-88.228957')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('49','40.105954','-88.225699','40.105954','-88.22405400000001','40.104135','-88.225699','40.104135','-88.22405400000001')",
 "INSERT INTO BlockLocation (blockID,topLeft_lat,topLeft_lon,topRight_lat,topRight_lon,bottomLeft_lat,bottomLeft_lon,bottomRight_lat,bottomRight_lon) VALUES('50','40.105954','-88.22405400000001','40.105954','-88.221577','40.104135','-88.22405400000001','40.104135','-88.22188299999999')"]

In [70]:
for sqlqueryForInsertIntoTable_BlockLocation in listOfInsertQueries:
    executeSingleQuery(sqlqueryForInsertIntoTable_BlockLocation)

Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully
Database Connected Successfully
Query Successfully Executed
Database Closed Successfully

In [37]:
sqlqueryForInsertIntoTable_BlockLocation =   """
                                    INSERT INTO Crime (incidentID, reportedAt, occuredAt, deposition) 
                                    VALUES ('II1300026', '2013-1-1 1:39:00', '2013-1-1 1:39:00' ,'ARREST');
                                    """
executeSingleQuery(sqlqueryForInsertIntoTable_BlockLocation)

Database Connected Successfully
Query Successfully Executed
Database Closed Successfully

## Insert into Crime Table

In [37]:
sqlqueryForInsertIntoTable_Crime =   """
                                    INSERT INTO Crime (incidentID, reportedAt, occuredAt, deposition) 
                                    VALUES ('II1300026', '2013-1-1 1:39:00', '2013-1-1 1:39:00' ,'ARREST');
                                    """
executeSingleQuery(sqlqueryForInsertIntoTable_Crime)

Database Connected Successfully
Query Successfully Executed
Database Closed Successfully

In [17]:
try:
    db = mdb.connect(DBHOST, DBUSER, DBPASS, DBNAME, charset='utf8', port=3308)
    print("Database Connected Successfully")

    cur = db.cursor()
    querysql = """
    INSERT INTO Crime (incidentID, reportedAt, occuredAt, deposition) 
    VALUES ('II1300026', '2013-1-1 1:39:00', '2013-1-1 1:39:00' ,'ARREST');
    """
    cur.execute(querysql)
    #commit changes in the database
    db.commit()
    print("Data Inserted Successfully")
    
except mdb.Error as e:
    print(e)
    db.rollback()
    #roolback if there is an error
db.close()

Database Connected Successfully
Data Inserted Successfully