In [33]:
import MySQLdb as mdb

In [34]:
DBNAME = "dbtest"
DBHOST = "localhost"
DBPASS = ""
DBUSER = "root"

In [35]:
def connectToDatabase():
    try:
        db = mdb.connect(DBHOST, DBUSER, DBPASS, DBNAME, charset='utf8', port=3308)
        print("Database Connected Successfully")
        return db
    except mdb.Error as e:
        print(e)
        print("Database Not Connected Successfully")
        return None
    
def closeDatabase(db):
    try:
        db.close()
        print("Database Closed Successfully")
    except mdb.Error as e:
        print(e)
        print("Database Not Closed Successfully")

In [36]:
def executeSingleQuery(sqlquery):
    
    db = connectToDatabase()
    
    try:
        cur = db.cursor()

        # execute query
        cur.execute(sqlquery)
        print("Query Successfully Executed")
        
        db.commit()

    except mdb.Error as e:
        print(e)
        print("Query Not Successfully Executed" + sqlquery)
        
    closeDatabase(db)

## Insert into BlockLocation Table

In [37]:
sqlqueryForInsertIntoTable_BlockLocation =   """
                                    INSERT INTO Crime (incidentID, reportedAt, occuredAt, deposition) 
                                    VALUES ('II1300026', '2013-1-1 1:39:00', '2013-1-1 1:39:00' ,'ARREST');
                                    """
executeSingleQuery(sqlqueryForInsertIntoTable_BlockLocation)

Database Connected Successfully
Query Successfully Executed
Database Closed Successfully

## Insert into Crime Table

In [37]:
sqlqueryForInsertIntoTable_Crime =   """
                                    INSERT INTO Crime (incidentID, reportedAt, occuredAt, deposition) 
                                    VALUES ('II1300026', '2013-1-1 1:39:00', '2013-1-1 1:39:00' ,'ARREST');
                                    """
executeSingleQuery(sqlqueryForInsertIntoTable_Crime)

Database Connected Successfully
Query Successfully Executed
Database Closed Successfully

In [17]:
try:
    db = mdb.connect(DBHOST, DBUSER, DBPASS, DBNAME, charset='utf8', port=3308)
    print("Database Connected Successfully")

    cur = db.cursor()
    querysql = """
    INSERT INTO Crime (incidentID, reportedAt, occuredAt, deposition) 
    VALUES ('II1300026', '2013-1-1 1:39:00', '2013-1-1 1:39:00' ,'ARREST');
    """
    cur.execute(querysql)
    #commit changes in the database
    db.commit()
    print("Data Inserted Successfully")
    
except mdb.Error as e:
    print(e)
    db.rollback()
    #roolback if there is an error
db.close()

Database Connected Successfully
Data Inserted Successfully